@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);


body {
  font-family: 'Inter', sans-serif;
}

.header {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(29, 37, 50);
  padding: 20px 16px 0 16px;
  box-sizing: border-box;
}

.header::before {
  z-index: -1;
  content: "";
  position: absolute;
  transform: rotate(11.97deg);
  left: -80px;
  top: -80px;
  width: 237px;
  height: 237px;
  filter: blur(70px);
  background: linear-gradient(170.65deg, rgba(95, 56, 255, 0.35) 25.591%, rgba(255, 14, 222, 0.35) 100.439%);
}

.header__logo {
  width: 89px;
  height: 36px;
}

.header__burger-menu-btn {
  width: 40px;
  height: 16px;
  border: 0;
  background-image: url(../images/burger-menu-icon.svg);
  background-color: transparent;
  padding: 0;
}

.header__burger-menu-btn:hover {
  cursor: pointer;
}

.lead {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "image"
    "subtitle"
    "button";
  background-color: rgb(29, 37, 50);
}

.lead__title {
  color: rgb(255, 255, 255);
  font-size: clamp(25px, 5cqw, 72px);
  font-weight: 400;
  line-height: 105%;
  letter-spacing: -0.8px;
  text-align: center;
  margin: 49px 36px 16px 36px
}

.lead__title_accent {
  font-weight: 700;
}

.lead__image {
  background-image: url(../images/man.png);
  background-position: center;
  background-size: cover;
  width: clamp(321px, 80cqw, 592px);
  height: clamp(321px, 80cqw, 708px);
  margin: 0 auto;
}

.lead__subtitle {
  color: rgb(206, 206, 206);
  font-size: clamp(18px, 3cqw, 23px);
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  text-align: center;
  margin: 11px 40px 0 40px;
}

.lead__button {
  width: clamp(277px, 80%, 353px); 
  justify-self: center;
  z-index: 0;
  position: relative;
  color: rgb(46, 39, 39);
  font-family: GT Walsheim Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0;
  text-align: center;
  margin: 40px 21px 50px 21px;
  padding: 15px 30px;
  border: 0;
  border-radius: 15px;
  background: linear-gradient(141.39deg, rgb(29, 216, 68) 1.471%, rgb(203, 246, 46) 126.116%);
}

.lead__button:hover {
  cursor: pointer;
}

.lead__button::before {
  content: "";  
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;  
  z-index: -1;
  position: absolute;
  border-radius: 20px; 
  background: linear-gradient(141.39deg, rgb(29, 216, 68) 1.471%, rgb(203, 246, 46) 126.116%);
  filter: blur(5px);
}

.lead__button:active {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.lead__button:disabled {
  color: rgba(36, 36, 36, 0.5);  
  cursor: auto;
}

.lead__button:hover::before {
  filter: blur(12px);  
}

.lead__button:active::before {
  filter: blur(5px);
}

.lead__button:disabled::before {
  filter: none;
}

